html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
fieldset,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
select,
audio,
textarea,
video {
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

body {
    font-family: Helvetica;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Microsoft YaHei";
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    // background: $bg-default-color;
}

a,
button,
:focus,
a:focus,
button:focus,
a:active,
a:hover {
    outline: 0;
}

a {
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    &[href]:hover {
        cursor: pointer;
    }
}

dfn {
    font-style: italic;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, serif;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C""\201D""\2018""\2019";
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    white-space: pre-wrap;
    overflow: auto
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    padding: 0;
    /* 2 */
    border: 0;
    /* 1 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `importnt` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
    font-family: "Microsoft YaHei";
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 3 */
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *  (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-box-sizing: content-box;
    /* 2 */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: 0em;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

img {
    border: 0;
    vertical-align: middle;
}

/**
 * 浏览器默认样式
 */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: inherit !important;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

input {
    font-size: 1.4rem;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

input,
textarea {
    -webkit-appearance: none;
}